﻿@using Microsoft.AspNet.Identity;
@using System.Security.Claims;
@{
    ViewBag.Title = "Home Page";



    var userRoles =  ((ClaimsIdentity)User.Identity).Claims
               .Where(c => c.Type == ClaimTypes.Role)
               .Select(c => c.Value);



    var role = userRoles.FirstOrDefault();
}
<br />
<br />
<div class="panel panel-primary well-md">
    <div class="panel-body">
        <div class="row">
            <form class="form-inline" role="form" id="sampleform" >
                <div class="form-group">
                    <label for="SamplesNo">Heat</label>
                    @Html.DropDownList("SampleNoDrop", ViewBag.SamplesNo as SelectList, new { @class = "btn btn-default dropdown-toggle" })
                </div>
                <div class="form-group">
                    <button type="button" name="prvBtn" id="previousBtn" class="btn btn-default btn-sm"><< Previous</button>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="sampleTxt">
                </div>
                <div class="form-group">
                    <button type="button" name="nxtBtn" id="nextBtn" class="btn btn-default btn-sm">Next >></button>
                </div>

                @if (User.IsInRole("administrator"))
                {
                    <div class="form-group">
                        <button type="button" name="saveAnalysisToStdBtn" id="saveAnalysisToStdBtn" onclick="AssociateAnalysisToStandard()" class="btn btn-success btn-sm ">Save</button>
                    </div>

                    <div class="form-group">
                        <button type="button" name="sapbutton" id="sapBtn" onclick="SendToSAP()" class="btn btn-sm btn-success btn-warning pull-right">Send to Sap</button>
                    </div>
                }

            </form>
        </div>
        <br />
        <div class="row">
            <div id="headers-view" class="col-lg-4">

                @if (User.IsInRole("operator"))
                {
                    <table id="sample-headers" class="table table-responsive  table-striped table-sm table-bordered">
                        <thead>
                            <tr>
                                <th>Heat</th>
                                <th>Date</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                    </table>
                }

                @if (User.IsInRole("administrator"))
                {
                    <table id="sample-headers" class="table table-responsive  table-striped table-sm table-bordered">
                        <thead>
                            <tr>
                                <th>Heat</th>
                                <th>Edit</th>
                                <th>Date</th>
                                <th>Value</th>
                                <th>Sap Check</th>
                            </tr>
                        </thead>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary well-md">
    <div class="panel-body">
        <div class="row">
            <div>
                <table id="analysis-view" class="table table-sm table-striped table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th style="width:2%">Heat</th>
                            <th style="width:10%">DIADate</th>
                            <th style="width:1%">C</th>
                            <th style="width:1%">Mn</th>
                            <th>Si</th>
                            <th>P</th>
                            <th>S</th>
                            <th>Cr</th>
                            <th>Ni</th>
                            <th>Cu</th>
                            <th>Mo</th>
                            <th>As</th>
                            <th>Al</th>                            
                            <th>V</th>
                            <th>Ti</th>
                            <th>Nb</th>
                            <th>Sn</th>
                            <th>Pb</th>
                            <th>B</th>
                            <th>N</th>
                            <th>Ca</th>
                            <th>Al_sol</th>
                            <th>Ca_sol</th>
                            <th>Tlq</th>
                            <th>Ceq</th>
                           
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
           
                <form class="form-inline">
                    <div class="form-group">
                        <label for="SamplesNo"> <small>Choose quality standard for check:</small></label>
                        @Html.DropDownList("Standards", ViewBag.Standards as SelectList, new { @class = "btn btn-default dropdown-toggle", @name = "stand" })
                    </div>
                    <div class="form-group">
                        <button type="button" name="stdBtn" id="standardsdBtn" class="btn btn-default btn-sm">Select Quality standard</button>
                    </div>
                </form>
                <table id="standards" class="table table-sm   table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="width:5%">QualitySet</th>                           
                            <th style="width:1%">Min/Max</th>
                            <th style="width:1%">C</th>
                            <th style="width:1%">Mn</th>
                            <th style="width:1%">Si</th>
                            <th style="width:1%">P</th>
                            <th style="width:1%">S</th>
                            <th style="width:1%">Cr</th>
                            <th style="width:1%">Ni</th>
                            <th style="width:1%">Cu</th>
                            <th style="width:1%">Mo</th>
                            <th style="width:1%">As</th>
                            <th style="width:1%">Al</th>                            
                            <th style="width:1%">V</th>
                            <th style="width:1%">Ti</th>
                            <th style="width:1%">Nb</th>
                            <th style="width:1%">Sn</th>
                            <th style="width:1%">Pb</th>
                            <th style="width:1%">B</th>
                            <th style="width:1%">N</th>
                            <th style="width:1%">Sb</th>
                            <th style="width:1%">Ca</th>
                            <th style="width:1%">Al_sol</th>
                            <th style="width:1%">Ceq</th>
                        </tr>
                    </thead>
                </table>
           
            <!-- eof header view div -->

        </div>
        </div>
    </div>
 
@section scripts{

            <script>


                var userrole = '@role';

                var MyAppUrlSettings =
                    {
                        GetSampleHeadersView: '@Url.Action("GetSampleHeadersView", "Home")',
                        GetStandardsView: '@Url.Action("GetStandardsView", "Home")',
                        GetAnalysisView: '@Url.Action("GetAnalysisView", "Home")',
                        GetStandardToSample: '@Url.Action("GetStandardsFromSample","Home")',
                        SaveStandardToSample: '@Url.Action("AssociateAnalysisToStandar", "Home")',
                        HideAnalysis: '@Url.Action("HideAnalysis", "Home")',
                        ShowAnalysis: '@Url.Action("ShowAnalysis", "Home")',
                        SapSave: '@Url.Action("SapSave", "Home")',
                    };

                var AnalysisData = [];
                var standardsData = [];

                SendToSAP = function () {

                    console.log("Send to Sap");
                    var selectedSampleId = $('input[name=sample]:checked').val();
 
                    var standardModel = { id: selectedSampleId };
 
                    $.post(MyAppUrlSettings.SapSave, standardModel, function (dataObj) {
                        var data = jQuery.parseJSON(dataObj);
                        $('input[name=sample]').attr("disabled", "disabled");
                        alert(data.msg);

                    });
                }


                SetMinMax = function () {
                    // reset the colors inside the table
                    ResetColorsAnalysis();
                    for (var i = 0; i < AnalysisData.length; i++)
                    {
                        var rowIndex = i + 1;
                        var analysisElements = Object.keys(AnalysisData[i]);
                        for (var name in analysisElements)
                        {
                            var columnIndex = name;
                            var analysisValueExamined = AnalysisData[i][analysisElements[name]];
                            console.log(name, analysisElements[name], "=>", analysisValueExamined);
                            if (analysisValueExamined != null && name > 1 && name < 26)
                            {
                                var analysisValueExaminedFixed = analysisValueExamined.toFixed(7);
                                if (standardsData.length > 0)
                                {
                                    var minimumStd = GetMinimumStdValue(analysisValueExaminedFixed, analysisElements[name], i, columnIndex);
                                    var maximumStdValue = GetMaximumStdValue(analysisValueExaminedFixed, analysisElements[name], i, columnIndex);
                                    if (minimumStd != 0 || maximumStdValue != 0)
                                    {
                                        var resultMinimum = CompareStandardsMinimum(analysisValueExaminedFixed, analysisElements[name], i, columnIndex);
                                        var resultMaximum = CompareStandardsMaximum(analysisValueExaminedFixed, analysisElements[name], i, columnIndex);
                                    }
                                }
                            }
                        }
                    }
                }


                function GetMinimumStdValue(analysisValue, propertyname, index, columnIndex) {
                    if (standardsData[1] == undefined) return 0;

                    if (standardsData[1]["minmax"] == "min")
                        var standardValue = standardsData[1][propertyname];

                    if (typeof standardValue == "undefined") return 0;

                    return standardValue;
                }


                function GetMaximumStdValue(analysisValue, propertyname, index, columnIndex) {
                    if (standardsData[0] == undefined) return 0;

                    if (standardsData[0]["minmax"] == "max")
                        var standardValue = standardsData[0][propertyname];

                    if (typeof standardValue == "undefined") return 0;

                    return standardValue;
                }

                function CompareStandardsMinimum(analysisValue, propertyname, index, columnIndex) {
                    if (standardsData[1] == undefined) return false;

                    if (standardsData[1]["minmax"] == "min")
                        var standardValue = standardsData[1][propertyname];

                    if (typeof standardValue == "undefined") return false;


                    if (analysisValue < standardValue)
                        SetTableTdColors(index + 1, columnIndex, "orange");

                }

                function CompareStandardsMaximum(analysisValue, propertyname, index, columnIndex) {
                    if (standardsData[0] == undefined) return false;

                    if (standardsData[0]["minmax"] == "max")
                        var standardValue = standardsData[0][propertyname];

                    if (typeof standardValue == "undefined") return false;

                    if (analysisValue > standardValue)
                        SetTableTdColors(index + 1, columnIndex, "red");
                }

                function SetTableTdColors(rowIndex, columnIndex, color) {
                    $('#analysis-view tr').eq(rowIndex).find('td').eq(columnIndex).css("color", color);
                }

                function ResetColorsAnalysis() {
                    $('#analysis-view tr td').css("color", "#555555");
                }

                $(document).ready(function () {
                    var sample = $("#SampleNoDrop").val();
                    $("#sampleTxt").val(sample);
                    console.log(sample);
                    GetSampleHeadersView(sample);
                });

                $("#SampleNoDrop").change(function () {
                    var sample = this.value;
                    $("#sampleTxt").val(sample);
                    console.log(sample);
                    GetSampleHeadersView(sample);
                });


                $("#Standards").change(function () {

                    standardsData = [];
                });

                $("#nextBtn").click(function () {
                    var previousSample = $('#SampleNoDrop option:selected').next().val();
                    $('#SampleNoDrop').val(previousSample).prop('selected', true);
                    $("#sampleTxt").val(previousSample);
                    GetSampleHeadersView(previousSample);
                });

                $("#previousBtn").click(function () {
                    var previousSample = $('#SampleNoDrop option:selected').prev().val();
                    $('#SampleNoDrop').val(previousSample).prop('selected', true);
                    $("#sampleTxt").val(previousSample);
                    GetSampleHeadersView(previousSample);
                });

                $("#standardsdBtn").click(function () {
                    var standard = $("#Standards").val();
                    GetStandardsView(standard);
                });


                GetStandardToSample =
                    function (sample) {
                        $.get(MyAppUrlSettings.GetStandardToSample, { sample: sample }, function (dataObj) {
                            data = jQuery.parseJSON(dataObj);
                            if (data !== null) {
                                //$("#Standards option").filter(function (index) {
                                //    return $(this).text() === data.quality;
                                //}).attr('selected', true);
                                $("#Standards").val(data.quality.trim());
                                $("#standardsdBtn").trigger("click");
                                return;
                            }
                            //$("#Standards option").eq(0).attr('selected', true);
                            $("#Standards").val("");
                            $("#standardsdBtn").trigger("click");

                        });
                    }

                GetSampleHeadersView =
                    function (sample)
                    {
                        $.post(MyAppUrlSettings.GetSampleHeadersView, { sample: sample }, function (dataObj) {
                            $("#sample-headers > tbody").html("");
                            var keys = ["Id", "SampleNo", "Edit", "DIADateTime", "IdentValue", "visibleAnalysis", "sap_check"],
                            data = jQuery.parseJSON(dataObj);
                            tr = document.createElement('tr'),
                            td = document.createElement('td');
                            var foundCheckedSapRecord = false;

                            for (var d = 0; d < data.length; d++) {
                                if (data[d]["sap_check"] == true) {
                                    foundCheckedSapRecord = true;

                                }
                            }

                            for (var i = 0; i < data.length; i++) {
                                var td;
                                var tr = document.createElement('tr');
                                var analysisId = data[i]["Id"];
                                var visibleAnalysis = data[i]["visibleAnalysis"];
                                var sapChecked = data[i]["sap_check"];
                               
                                for (var j = 0; j < keys.length; ++j)
                                {
                                    td = document.createElement('td');
                                    if (userrole == "administrator")
                                    {
                                        if (j > 0)
                                        {
                                            if (j == 2 && keys[j] == "Edit" && keys[j] != "visibleAnalysis")
                                            {
                                                if (visibleAnalysis) {
                                                    td.innerHTML = '<input type="button" class="hidebtn btn btn-sm btn-danger" id="' + analysisId + '" value="Hide" />';
                                                }
                                                else
                                                {
                                                    td.innerHTML = '<input type="button" class="showbtn btn btn-sm btn-danger" id="' + analysisId + '" value="Show" />';
                                                }
                                            }
                                            else
                                            {
                                                if (keys[j] != "visibleAnalysis") {
                                                   
                                                    if (keys[j] == "sap_check") {
                                                        td.innerHTML = "";
                                                    } else {
                                                        td.innerHTML = data[i][keys[j]];
                                                    }

                                                   
                                                }

                                                if (keys[j] == "sap_check" && (data[i].IdentValue == "CB1" || data[i].IdentValue == "CS1")) {
                                                    if (sapChecked) {
                                                        td.innerHTML = '<input type="radio" name="sample" id="' + analysisId + '"  disabled="disabled" checked>';
                                                        foundCheckedSapRecord = true;
                                                       
                                                    } else {

                                                        if (foundCheckedSapRecord) {
                                                            td.innerHTML = '<input type="radio" name="sample" id="' + analysisId + '" value="' + analysisId + '" disabled="disabled">';
                                                        } else {
                                                            td.innerHTML = '<input type="radio" name="sample" id="' + analysisId + '" value="' + analysisId + '"  >';
                                                        }
                                                       
                                                    }                                                   
                                                }


                                            }
                                            if (keys[j] != "visibleAnalysis")
                                                tr.appendChild(td);
                                                                                                                          
                                        }
                                    }

                                    if (userrole == "operator")
                                    {
                                        if (j > 0) {
                                            if (keys[j] !== "Edit" && keys[j] != "visibleAnalysis")
                                            {
                                                td.innerHTML = data[i][keys[j]];
                                                //tr.appendChild(td);
                                                if (visibleAnalysis)
                                                    tr.appendChild(td);
                                            }
                                        }

                                
                                    }
                                }
                                $('#sample-headers').append(tr);
                            }
                            // todo: also create the analysis view table from ajax
                            GetAnalysisView(sample);
                        });
                    }

                GetStandardsView =
                    function (standard)
                    {
                        $.post(MyAppUrlSettings.GetStandardsView, { standard: standard }, function (dataObj) {
                            $("#standards > tbody").html("");
                            var keys = ["quality",
                                    "minmax",
                                      "C",
                                        "Mn",
                                        "Si",
                                        "P",
                                        "S",
                                        "Cr",
                                        "Ni",
                                        "Cu",
                                        "Mo",
                                        "As",
                                        "Al",
                                        "V",
                                        "Ti",
                                        "Nb",
                                        "Sn",
                                        "Pb",
                                        "B",
                                        "N",
                                        "Sb",
                                        "Ca"
                                        , "Al_sol", "CEQ"],
                         data = jQuery.parseJSON(dataObj);
                            standardsData = data;
                            tr = document.createElement('tr'),
                            td = document.createElement('td');
                            for (var i = 0; i < data.length; i++) {
                                var td;
                                var tr = document.createElement('tr');
                                for (var j = 0; j < keys.length; ++j) {
                                    td = document.createElement('td');
                                    var value = data[i][keys[j]];
                                    td.innerHTML = value;
                                    tr.appendChild(td);
                                }
                                $('#standards').append(tr);
                            }
                            SetMinMax();
                        });
                    }

                GetAnalysisView =
                   function (sampleNo) {
                       $.post(MyAppUrlSettings.GetAnalysisView, { sampleno: sampleNo }, function (dataObj) {
                           $("#analysis-view > tbody").html("");
                           var keys =
                               ["Heat",
                               "DIADate",
                               "C",
                               "Mn",
                               "Si",
                               "P",
                               "S",
                               "Cr",
                               "Ni",
                               "Cu",
                               "Mo",
                               "As",
                               "Al",
                               "V",
                               "Ti",
                               "Nb",
                               "Sn",
                               "Pb",
                               "B",
                               "N",
                               "Ca",
                               "Al_sol",
                               "Ca_sol",
                               "TLQ",
                               "CEQ",
                               "Id","visible"];

                           data = jQuery.parseJSON(dataObj);
                           AnalysisData = data;
                           tr = document.createElement('tr'),
                           td = document.createElement('td');
                           btnedit = document.createElement('button');
                           for (var i = 0; i < data.length; i++)
                           {
                               var td;
                               var tr = document.createElement('tr');
                               var analysisId = data[i]["Id"];
                               var visibility = data[i]["visible"];

                               if (!visibility)
                               {
                                   tr.style.display= "none";
                               }

                               for (var j = 0; j < keys.length; ++j)
                               {

                                   if (keys[j] === "Id" || keys[j] === "visible") { continue };

                                   td = document.createElement('td');
                                   var value = data[i][keys[j]];

                                   if (j > 1 && keys[j] != "TLQ")
                                       td.innerHTML = value == null ? value : FormatElementsValues(keys[j], value);

                                   if (keys[j] == "TLQ" || keys[j] == "DIADate" || keys[j] == "Heat")
                                       td.innerHTML = value;

                                   if (keys[j] != "Id" )
                                   {
                                       tr.appendChild(td);
                                   }
                               }
                               $('#analysis-view').append(tr);
                           }
                           GetStandardToSample(sampleNo);
                           SetMinMax();
                       });
                   }


                function FormatElementsValues(elementName, value)
                {
                    var formattedValue;

                    switch (elementName) {
                        case "C":
                            formattedValue = SetElementValue(value, 3);
                            break;
                        case "Mn":
                            formattedValue = SetElementValue(value, 2);
                            break;
                        case "Si":
                            formattedValue = SetElementValue(value, 2);
                            break;
                        case "P":
                            formattedValue = SetElementValue(value, 3);
                            break;
                        case "S":
                            formattedValue = SetElementValue(value, 3);
                            break;
                        case "Cr":
                            formattedValue = SetElementValue(value, 2);
                            break;
                        case "Ni":
                            formattedValue = SetElementValue(value, 2);
                            break;
                        case "Cu":
                            formattedValue = SetElementValue(value, 2);
                            break;
                        case "Mo":
                            formattedValue = SetElementValue(value, 3);
                            break;
                        case "As":
                            formattedValue = SetElementValue(value, 3);
                            break;
                        case "Al":
                            formattedValue = SetElementValue(value, 3);
                            break;
                        case "Al_sol":
                            formattedValue = SetElementValue(value, 3);
                            break;
                        case "V":
                            formattedValue = SetElementValue(value, 3);
                            break;
                        case "Ti":
                            formattedValue = SetElementValue(value, 3);
                            break;
                        case "Nb":
                            formattedValue = SetElementValue(value, 3);
                            break;
                        case "Sn":
                            formattedValue = SetElementValue(value, 3);
                            break;
                        case "Pb":
                            formattedValue = SetElementValue(value, 4);
                            break;
                        case "B":
                            formattedValue = SetElementValue(value, 4);
                            break;
                        case "N":
                            formattedValue = SetElementValue(value, 3);
                            break;
                        case "Ca":
                            formattedValue = SetElementValue(value, 4);
                            break;
                        case "Ca_sol":
                            formattedValue = SetElementValue(value, 3);
                            break;
                        default:
                            formattedValue = SetElementValue(value, 4);
                            break;

                    }

                    return formattedValue;
                }


                function SetElementValue(value, decimalplaces)
                {
                    return value.toFixed(decimalplaces);
                }

                $(document).on('click', '.hidebtn', function (evt)
                    //$('#analysis-view').click("tr td  input[type='button']", function (evt)
                {
                    if (!confirm("Are you sure?")) return false;
                    var btn = $(this);
                    var id = evt.target.id;
                    $.post(MyAppUrlSettings.HideAnalysis, { id: id }, function (dataObj) {
                        data = jQuery.parseJSON(dataObj);
                        console.info(data);
                        
                        $('#analysis-view tr').eq(evt.target.parentElement.parentElement.rowIndex).css("display", "none");
                        btn.val("Show");
                        btn.removeClass("hidebtn").addClass("showbtn");
                    });
                });


                $(document).on('click', '.showbtn', function (evt)
                    
                {
                    if (!confirm("Are you sure?")) return false;
                    var btn = $(this);
                    var id = evt.target.id;
                    $.post(MyAppUrlSettings.ShowAnalysis, { id: id }, function (dataObj) {
                        data = jQuery.parseJSON(dataObj);
                        console.info(data);
                       
                        $('#analysis-view tr').eq(evt.target.parentElement.parentElement.rowIndex).css("display", "table-row");
                        btn.val("Hide");
                        btn.removeClass("showbtn").addClass("hidebtn");
                    });                   
                });




                function AssociateAnalysisToStandard() {
                    var sample = $("#SampleNoDrop").val();
                    var standard = $("#Standards").val();
                    var standardModel = { sample: sample };
                    if (standardsData.length == 1) {
                        standardModel.id1 = standardsData[0]["id"];
                    }
                    if (standardsData.length == 2) {
                        standardModel.id2 = standardsData[1]["id"];
                    }
                    if (standardsData.length < 0 || standard == "") {
                        alert("Please select a Standard");
                        return;
                    }
                    $.post(MyAppUrlSettings.SaveStandardToSample, standardModel, function (dataObj) {
                        var data = jQuery.parseJSON(dataObj);
                    });
                }


                $('#sampleform').submit(function (e) {
                    console.log("enter")
                    e.preventDefault();
                    var sampleNo = "";
                });


                var timeout = setTimeout("location.reload(true);", 120000);
            </script>

        }
