﻿@model WebAdmin.Models.StandardModelDTO

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>standard</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
            <label for="SamplesNo" class="control-label col-md-2">  Choose Sample: </label>
            <div class="col-md-10">
                @Html.DropDownList("sampleHeatNo", ViewBag.SamplesNo as SelectList, new { @class = "btn btn-default dropdown-toggle" })
            </div>
         </div>*@

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.quality, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.quality, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.standardMin.quality, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.quality, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.quality, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.quality, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.minmax, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.minmax, new { htmlAttributes = new { @class = "form-control", @Value = "min", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.standardMin.minmax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.minmax, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.minmax, new { htmlAttributes = new { @class = "form-control", @Value = "max", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.standardMax.minmax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.C, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.C, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.C, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.C, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.C, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.C, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Mn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Mn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Mn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Mn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Mn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Mn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Si, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Si, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Si, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Si, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Si, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Si, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.P, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.P, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.P, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.P, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.P, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.P, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.S, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.S, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.S, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.S, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.S, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.S, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Cr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Cr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Cr, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Cr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Cr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Cr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Ni, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Ni, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Ni, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Ni, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Ni, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Ni, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Cu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Cu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Cu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Cu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Cu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Cu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Mo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Mo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Mo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Mo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Mo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Mo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.As, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.As, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.As, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.As, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.As, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.As, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Al, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Al, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Al, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Al, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Al, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Al, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Al_sol, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Al_sol, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Al_sol, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Al_sol, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Al_sol, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Al_sol, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Ceq, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Ceq, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Ceq, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Ceq, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Ceq, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Ceq, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.V, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.V, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.V, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.V, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.V, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.V, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Ti, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Ti, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Ti, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Ti, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Ti, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Ti, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Nb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Nb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Nb, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Nb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Nb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Nb, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Sn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Sn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Sn, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Sn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Sn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Sn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Pb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Pb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Pb, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Pb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Pb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Pb, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.B, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.B, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.B, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.B, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.B, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.B, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.N, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.N, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.N, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.N, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.N, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.N, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Sb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Sb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Sb, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Sb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Sb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Sb, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMin.Ca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMin.Ca, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMin.Ca, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-6 form-group">
            @Html.LabelFor(model => model.standardMax.Ca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.standardMax.Ca, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.standardMax.Ca, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
