﻿@model Stomana.Data.standard

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>standard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.minmax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minmax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Si)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Si)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.As)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.As)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Al)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Al)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Al_sol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Al_sol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.V)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.V)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.B)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.B)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sampleHeatNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sampleHeatNo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
