﻿@model IEnumerable<Stomana.Data.standard>

@{
    ViewBag.Title = "Standards";
}

<h2>Standards   </h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-success"})
</p>
<table class="table" id="standards">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minmax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Si)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.As)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Al)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Al_sol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEQ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.N)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sampleHeatNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.quality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minmax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Si)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.As)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Al)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Al_sol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEQ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sampleHeatNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) 
            @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
        </td>
    </tr>
}

</table>
